body {
    font-family: "DM Sans", sans-serif;
    background-color: #b49157;
    color: #1a1a1a;
    line-height: 1
    
}

h1 {
    color: pink;
    padding-top: 10px;
    margin-bottom: 0.25em;
}


header {
    background-color: rgb(167, 29, 29);
    text-align: center;
    padding: 10px, 3vw;
    padding-bottom: 10px;
}

credit {
    color: rgb(229, 177, 195);
    line-height: 1;
    font-weight: bold;
}

.search {
  background-color: #b6904599;
  overflow: hidden;
  display: grid;
  column-gap: 10px;
}

.search input[type=text] {
    float: left;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 3px;
    margin-left: 3px;
    font-size: 15;
    background-color: pink;
    border: 1px, solid, white;
}

button{
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    font-size: 15px;
}

.search button {
    background-color: rgb(194, 91, 91);
    color: white;
    border: 1px, solid, white;
}
.search button:hover {
    background-color: rgb(161, 66, 66);
    border: 1px, solid, rgb(255, 203, 203);
}

#home button{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 20px;
    /*padding: 2rem */

}

homepage {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
}

.hbtn{
    float: left;
    display: block;
    margin-top: 10px;
    padding: 8px 14px;

    background-color: #cc0000;
    color: white;
    
    text-decoration: none;
    border-radius: 20px;
}