/* header information + font */

@font-face {
  font-family: 'Nunito'; /* Name the font */
  src: url("Nunito-Variable.ttf") format("truetype"); 
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Helps with page load performance */
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #cf8787;
    color: #1a1a1a;
    line-height: 1
    
}

h1 {
    color: pink;
    margin-bottom: 0.25em;
    text-align: center;
}

header {
    background-color: rgb(167, 29, 29);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 10px;
}

credit {
    color: rgb(229, 177, 195);
    text-align: center;
    line-height: 1;
    font-weight: bold;
}

/* search bar !! */

.search {
    font-family: "Nunito", sans-serif;
    background-color: #cf8787;
    display: flex;
    column-gap: 10px;
}

.search input[type=text] {
    font-family: "Nunito", sans-serif;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-left: 3px;
    font-size: 15;
    background-color: pink;
    border: 1px, solid, white;
}

button{
    float: left;
    margin-top: 10px;
    padding: 10px;
    margin-left: 3px;
    font-size: 15px;
}

.search button {
    font-family: "Nunito", sans-serif;
    background-color: rgb(194, 91, 91);
    color: white;
    border: 1px, solid, white;
}
.search button:hover {
    font-family: "Nunito", sans-serif;
    background-color: rgb(161, 66, 66);
    border: 1px, solid, rgb(255, 203, 203);
}

/* recipe section for main*/

/* recipe header/paragraph/textidk */
rh1 {
    display: block;
    font-family: "Nunito", sans-serif;
    color: #e09a9a;
    margin-top: 1em;
    /* padding-top: 1em; */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
rbody {
    display: block;
    text-align: left;
    font-family: "Nunito", sans-serif;
    padding-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    color:black;
    line-height:1em;
    font-size: 20px;
}

/* recipe cards, etc. */

#recipe-container{
    display:grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    column-gap: 20px;
    /*padding: 2rem */

}

.recipe-card{
    display: inline-block;
    background: pink;
    border-radius: 40px;
    padding-bottom: 20px;
    padding-right: 3vw;
    margin-bottom: 2em;
    margin-top: 15px;
    box-shadow: 10px,10px, 0px #cc0000;
    border: 5px solid rgb(205, 138, 150);
}

.recipe-btn{
    float: right;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 15px;
    margin-left: 25px;
    padding: 10px;

    background-color: #cc0000;
    color: white;
    
    text-decoration: none;
    border-radius: 50px;

    font-size:20px;
    text-align: center; 
    
    transition: 0.3s;
    font-weight:bold;
}

.recipe-tag{
    display:grid;
    grid-template-columns: repeat(3, minmax(10px, 20px));
    padding: 10px;

    background-color: #cc0000;
    color: white;
    
    text-decoration: none;
    border-radius: 40px;

    font-size:10px;
    text-align: center; 
}

.recipe-image {
    width: 80%;
    aspect-ratio: 2;
 /*   object-fit: cover;*/
    display: flex;
    border-radius: 50px;
    border: 2px solid white;
    margin: 30px;
    align-self: center;
    box-sizing: border-box;
}


.recipe-btn:hover {
    background-color: #990000;
}

.recipe-btn:visited{
    color:white;
}

.recipe-card:hover{
    transform:scale(1.03);
}

/* homepage button !! */

#home-button{
    display:grid;
    float: left;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    column-gap: 20px;
    /*padding: 2rem */

}

#homepage {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 20px;
}

.hbtn{
    margin-top: 10px;
    padding: 10px;

    background-color: #cc0000;
    color: white;
    
    text-decoration: none;
    border-radius: 20px;

    font-size: 20px;
}

/* timer css */

.timer-window {
  font: "Nunito", "sans-serif";
  position: fixed; /* will always stay at the top corner evenwhenu scroll */
  right: 16px;
  top: 16px;
  width: 260px;
  
  background: rgba(255, 211, 122, 0.95); /*replace with image maybe*/
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 16px;
  box-shadow: 0 10px 28px rgba(218, 129, 14, 0.18);
  
  padding: 12px;
  z-index: 999;
  backdrop-filter: blur(6px);
  text-align: center;
}

h2.timer-header{
  font-size: 1.5em;
  margin-top: 8px;
}

.start-btn {
  background-color: #04AA6D; 
  color: white;
}
.stop-btn {
  background-color: #f44336;
  color: white;
}

.timer-minimize-btn {
  background-color: red;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.hidden{
  display: none;
}
